{% extends 'base.html' %}


{% block body %}

<div class="container">
  <div class="row">
    <div class="col-sm-4" style="padding-bottom: 2cm">
    <h1>Running Jobs : {{ running_jobs }}</h1>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-8" >
    <h1>Overall Service Completion ( {{ progress_data.total_patched }} / {{ total_services }} )</h1>
        <div class="progress">
            <div id="progress-bar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ total_services }}" aria-valuemin="0" aria-valuemax="{{ total_services}}"
				style="width:{{ progress_data.tot_percent }}%">
				{{ progress_data.tot_percent }}%
            </div>
        </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4">

    	<p>
    		<h3>P1 Services ( {{ progress_data.p1_patched }} / {{ services_data.p1 }})</h3>
    	</p>
        <div class="progress">
            <div id="progress-bar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" 
			style="width:{{ progress_data.p1_percent }}%">
			{{ progress_data.p1_percent }}%
            </div>
        </div>
    </div>
    <div class="col-md-4">
    	<p>
    		<h3>P2 Services ( {{ progress_data.p2_patched }} / {{ services_data.p2 }})</h3>
    	</p>
        <div class="progress">
            <div id="progress-bar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" 
			style="width:{{ progress_data.p2_percent }}%">
			{{ progress_data.p2_percent }}%
            </div>
        </div>
    </div>
    <div class="col-md-4">
    	<p>
    		<h3>P3 Services ( {{ progress_data.p3_patched }} / {{ services_data.p3 }})</h3>
    	</p>
        <div class="progress">
            <div id="progress-bar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" 
			style="width:{{ progress_data.p3_percent }}%">
			{{ progress_data.p3_percent }}%
            </div>
        </div>
    </div>
  </div>
</div>


{% endblock %}