{% extends 'base.html' %}


{% block body %}


<div class="container">
  <div class="row">
    <div class="col-sm-4">
    <h1>Running Jobs<h1>
        <div class="progress">
            <div id="progress-bar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" >
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">

    	<p>
    		<h3>P1 Services (% Complete)</h3>
    	</p>
        <div class="progress">
            <div id="progress-bar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" >
            </div>
        </div>
    </div>
    <div class="col-md-4">
    	<p>
    		<h3>P2 Services (% Complete)</h3>
    	</p>
        <div class="progress">
            <div id="progress-bar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" >
            </div>
        </div>
    </div>
    <div class="col-md-4">
    	<p>
    		<h3>P3 Services (% Complete)</h3>
    	</p>
        <div class="progress">
            <div id="progress-bar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" >
            </div>
        </div>
    </div>
  </div>
</div>


{% endblock %}